*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
form{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input{
  padding: 10px 30px
}